<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.felipheallef.app_installer_example">

    <application
        android:name="${applicationName}"
        android:label="app_installer_example"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:exported="true"
                    android:name="dev.felipheallef.app_installer.SESSION_API_PACKAGE_INSTALLED" />
            </intent-filter>
        </activity>
        <!--   使用 V2 接口     -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
