<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dev.felipheallef.app_installer">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission-sdk-23 android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION"/>
</manifest>
